{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Article</h2>
<img src="{% static 'articles/sample.jpg' %}" alt="sample">
<img src="{% static 'images/sample2.png' %}" alt="sample2">
<a href="{% url 'articles:new' %}" class="btn btn-primary">NEW</a>
<hr>
{% comment %} {{articles}}데이터가 하나여도 쿼리셋형태이기 때문에, for 문으로 하나씩 빼와서 쓰자. {% endcomment %}
  {% for article in articles %}
    <h2>{{ article.pk }} </h2>
    <h2>{{ article.title }}</h2>
    <a href="{% url 'articles:detail' article.pk %}">DETAIL</a>
    <hr>
  {% endfor %}

{% endblock %}